body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #44474A;
}
/*
 * Formatting the header area
 */
header {
  background-color: #DFB887;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
.host
{
  margin-top: 20px;
  text-align: center;
  color: #FFF;
  font-size: 25px;
}
.pict
{
  margin-top: 20px;
  text-align: center;
}
.legend {
  margin-top: 20px;
  text-align: center;
  color: #FFF;
}
