<!doctype html>
<html>
  <head>
    <title>Random photo from Unsplash</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="host">
      <p>Handled by {{ host }}</p>
    </div>
    <div class="pict">
    {% if url %}
      <img height="500" src={{ url }}/>
    {% else %}
      <img height="500" src={{ url_for('static', filename='images/spider.jpg') }}>
    {% endif %}
    </div>
    <div class="legend">
      <p>Photo by {{ user }} on Unsplash</p>
    </div>
  </body>
</html>
